<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin-category</title>
  <link rel="shortcut icon" type="image/png" href="/admin/images/logos/favicon.png" />
  <link rel="stylesheet" href="/admin/css/styles.css" />
  <style>
    .category-image {
      height: 200px;
      /* Set your desired height here */
      object-fit: cover;
      /* This will make the image cover the entire container */
      object-position: center;
      /* You can adjust the positioning if needed */
      width: 100%;
      /* Ensure the image takes up the full width of the container */
    }
  </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- including the sidebar,navbar -->

    <%- include ("admin-nav.ejs") %>

      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h1 class="fw-semibold mb-4">Category</h1>
            <div class="card">
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  <!-- Add a hidden input field for catid -->
                  <input type="hidden" name="catid" value="">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      name="catname" value="">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Category Image</label>
                    <input type="file" class="form-control" id="exampleInputPassword1" name="catimg"> <br>
                    <img src="/admin/images/category/" alt="" width="100">
                  </div>
                  <button type="submit" class="btn btn-primary" name="submitc">Submit</button>
                  <a href="admin-category.html" class="btn btn-danger">Reset</a>
                </form>
              </div>
            </div>
            <div class="row">
              <% cate.forEach(category=> { %>

                <!-- Category card -->
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="card">
                    <img src="/admin/images/category/" class="card-img-top category-image" alt="No image selected">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= category.category_name %>
                      </h5>
                      <a href="admin-category.html" class="btn btn-primary"><i class="ti ti-edit"></i></a>
                      <a href="admin-category.html" class="btn btn-danger"><i class="ti ti-trash"></i></a>
                    </div>
                  </div>
                </div>

                <% }); %>


            </div>

          </div>
        </div>
      </div>
  </div>
  </div>

  <script src="/admin/libs/jquery/dist/jquery.min.js"></script>
  <script src="/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/js/sidebarmenu.js"></script>
  <script src="/admin/js/app.min.js"></script>
  <script src="/admin/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/admin/libs/simplebar/dist/simplebar.js"></script>
  <script src="/admin/js/dashboard.js"></script>
</body>

</html>