<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Organic Store</title>
    <link rel="shortcut icon" href="/user/favi.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />

    <style>
        h1 {
            font-size: 3.5rem;
            font-family: 'Playfair Display', serif;
            font-weight: 600;
        }

        /* .b {
            background-color: #f5f5f5;
        } */

        li {
            list-style: none;
        }

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>
    </style>
</head>

<body>
    <!-- Including Navbar -->
    <%- include('navbar') %>


        <!-- About -->

        <div class="container-fluid">
            <div class="row b">
                <div class="col-lg-12 mt-3 text-center">
                    <h1>About Us</h1>
                    <img style="margin-bottom: -6vh;" src="/user/leaf2.png" alt="" width="10%">
                </div>
            </div>
        </div>

        <!-- section 2 -->

        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-7 p-5" style="display: flex; flex-direction: column; justify-content: center;">
                    <h2 style=" font-family: 'Playfair Display', serif; font-weight: 600;">We Are Your Favourite Store.
                    </h2>
                    <br>
                    <p>Tuas quisquam quo gravida proident harum, aptent ligula anim consequuntur, ultrices mauris, nunc
                        voluptates lobortis, varius, potenti placeat! Fuga omnis. Cubilia congue. Recusandae. Vero
                        penatibus
                        quasi! Nostra tenetur dignissimos ultrices natus distinctio ultrices consequuntur numqu.
                        <br> <br>
                        Officiis fuga harum porro et? Similique rhoncus atque! Netus blanditiis provident nunc posuere.
                        Rem
                        sequi, commodo, lorem tellus elit, hic sem tenetur anim amet quas, malesuada proident platea
                        corrupti expedita.
                    </p>

                </div>
                <div class="col-lg-5 p-5 text-center">
                    <img width="100%" src="/user/grapes.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- section 3 -->
        <div class="container-fluid">
            <div class="row text-center p-5" style="background-color: #001524; color: white;">

                <h3 class="mb-4">Numbers Speak For Themselves!</h3>
                <div class="col-lg-4">
                    <h2>
                        5,000 +
                    </h2>
                    <h5>Curated Products</h5>
                </div>
                <div class="col-lg-4">
                    <h2>
                        800 +
                    </h2>
                    <h5>Curated Products</h5>
                </div>
                <div class="col-lg-4">
                    <h2>
                        40 +
                    </h2>
                    <h5>Product Categories
                    </h5>
                </div>


            </div>
        </div>

        <!-- section 4 -->

        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-6 p-5" style="display: flex; align-items: center; justify-content: center;">

                    <div class="card p-4" style="width: 20rem; border: none; background-color: #f5f5f5;">
                        <img style="border-radius: .6rem; margin-top: -4rem;" src="/user/grape2.jpg" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="color: rgb(255, 217, 0);"><span
                                    class="material-symbols-outlined">
                                    kid_star
                                </span><span class="material-symbols-outlined">
                                    kid_star
                                </span><span class="material-symbols-outlined">
                                    kid_star
                                </span><span class="material-symbols-outlined">
                                    kid_star
                                </span><span class="material-symbols-outlined">
                                    kid_star
                                </span></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Click edit button to change this text. Lorem ipsum
                                dolor sit
                                amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis,
                                pulvinar
                                dapibus leo.
                                </p>
                                <img src="/user/client1.png" width="15%" alt="">
                                <span>Mike Kunit</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 ">
                    <div class="row p-5">
                        <div class="col-lg-4">
                            <img width="100%" src="/user/organicbadge.png" alt="">
                        </div>
                        <div class="col-lg-8 text-center ">
                            <h3>Certified Products</h3>
                            <p>Click edit button to change this text. Lorem ipsum dolor sit amet
                            </p>
                        </div>
                        <div class="col-lg-12 mt-4 text-center">
                            <h2 style="font-family: 'Playfair Display', serif; font-weight: 600; font-size: 2rem;">We
                                Deal
                                With Various Quality Organic Products!</h2><br>
                            <img src="/user/leaf.png" alt="">
                        </div>

                        <div class="col-lg-6 mt-4">
                            <ul style="font-size:1rem;">
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Fresh fruits</li><br><br>
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Dry fruits</li><br><br>
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Fresh vegetables</li><br><br>
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Dried vegetables</li><br><br>
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Dried vegetables</li>

                            </ul>
                        </div>
                        <div class="col-lg-6 mt-4">
                            <ul style="font-size:1rem;">
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>
                                    &nbsp;Beauty products</li><br><br>
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Milk products</li><br><br>
                                <li style="display: inline-flex; align-items: center;">
                                    <span class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Organic honey
                                </li><br><br>
                                <li style="display: inline-flex; align-items: center;"><span
                                        class="material-symbols-outlined" style="color: rgb(77, 146, 12);">
                                        check_circle
                                    </span>&nbsp;Organic tea</li><br><br>
                            </ul>

                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            <button
                                style="background-color: #72a339; color: white ; font-weight: 600; display: inline-flex"
                                class="btn p-3 px-5"><span class="material-symbols-outlined">
                                    shopping_cart
                                </span>&nbsp;&nbsp;START SHOPPING</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>







        <!-- footer -->
        <%- include('footer') %>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
                </script>
</body>

</html>