<style>
    a {
        text-decoration: none;
        color: rgb(155, 155, 155);
    }

    a:hover {
        color: white;
    }
</style>
<div class="container-fluid text-center" style="border-bottom: 1px solid #ccc; background-color: #001524;">
    <div class="row p-5">
        <div class="col-lg-4 text-center" style="color: rgb(155, 155, 155) ;">
            <img src="/user/footerlogo.png" alt=""><br><br>
            <h5>Maecenas mi justo, interdum at consectetur vel, tristique et arcu. Ut quis eros blandit, ultrices diam
                in, elementum ex. Suspendisse quis faucibus urna. Suspendisse pellentesque.</h5>
        </div>
        <div class="col-lg-4" style="display: flex; flex-direction: column;">
            <br>
            <h5 style="color: white;">Quick Links</h5>
            <a href="">About</a>
            <a href="">Cart</a>
            <a href="">Checkout</a>
            <a href="">Contact</a>
            <a href="">Home</a>
            <a href="">My account</a>
            <a href="">Shop</a>
            <br>
            <h5 style="color: white;">Site Links</h5>
            <a href="">Privacy Policy</a>
            <a href="">Shipping Details</a>
            <a href="">Offers Coupons</a>
            <a href="">Terms & Conditions</a>
        </div>
        <div class="col-lg-4" style="display: flex; flex-direction: column;">
            <h5 style="color: white;">
                <br>
                Download Our Mobile App
            </h5>
            <p style="color: rgb(155, 155, 155) ;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                aliquam gravida sollicitudin. Praesent porta enim mi, non tincidunt libero interdum sit amet.
            </p>
            <br>
            <h5 style="color: white;">Quick Links</h5>
            <a href="">Know More About Us</a>
            <a href="">Visit Store</a>
            <a href="">Let’s Connect</a>
            <a href="">Locate Stores</a>
            <br>
            <span>
                <img width="40%" src="/user/playstore.png" alt="">
                <img width="40%" src="/user/appstore.png" alt="">
            </span>
        </div>
    </div>
</div>


<!-- footer -->


<footer class="p-3" style="height: 15vh; background-color: #001524; color: rgb(155, 155, 155)  ;">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-8">
            <h6>Copyright © 2023 | Organic <br> Store</h6>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-4" style="display:flex ; justify-content: end;"><button class="btn "
                style=" border: 1px solid #a5a5a5; background-color: black; "><a style="color: white;"
                    href="/admin/admin-login">Admin
                    Login</a></button>
        </div>
    </div>




</footer>