<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User-Register</title>
  <link rel="shortcut icon" type="image/png" href="/admin/images/logos/favicon.png" />
  <link rel="stylesheet" href="/admin/css/styles.min.css" />
  <style>
    * {
      user-select: none;
    }
  </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="/admin/images/logos/logo.svg" width="180" alt="logo">
                </a>
                <h1 class="text-center">Registration</h1>
                <form method="post">
                  <div class="row my-3">
                    <div class="col">
                      <label for="exampleInputtext1" class="form-label">First Name</label>
                      <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="FirstName">
                    </div>
                    <div class="col">
                      <label for="exampleInputtext1" class="form-label">Last Name</label>
                      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="LastName">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label">Age</label>
                      <input type="date" class="form-control" placeholder="Mobile Number" id="exampleInputPassword1"
                         Required name="age">
                    </div>
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                      <input type="number" class="form-control" placeholder="Mobile Number" id="exampleInputPassword1"
                         Required name="number">
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <label for="exampleInputtext1" class="form-label">Email Address</label>
                      <input type="text" class="form-control" placeholder="Email Address" aria-label="First name" name="email">
                    </div>
                    <div class="col">
                      <label for="exampleInputtext1" class="form-label">Set Password</label>
                      <input type="text" class="form-control" placeholder="Password" aria-label="Last name" name="password">
                    </div>
                  </div>

                  <a href="">
                    <button class="btn text-light w-100 py-8 fs-4 mb-4 rounded-2" name="submita"
                      style="background-color: #72a339;">Sign Up</button>
                  </a>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="fw-bold ms-2" style="color: #72a339;" href="/login">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/admin/libs/jquery/dist/jquery.min.js"></script>
  <script src="/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>